footer {
    background-color: var(--color-primary-dark);
    margin-top: auto;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45%;
    padding: 2rem 3rem;
    color: var(--color-text-on-dark);
}

.footer-logo img {
    width: 60%;
    height: auto;
}
