.product-info-page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-xl);
}

.specific-product {
    height: auto;
    width: 40%;
}

.product-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 768px) {
    .product-info-page {
        padding: var(--spacing-lg);
        flex-direction: column;
    }

    .specific-product {
        width: 80%;
    }
}
